[submodule "src/ext/pprzlink"]
	path = src/percevite/ext/pprzlink
	url = https://github.com/paparazzi/pprzlink.git
[submodule "src/openevo"]
	path = src/openevo
	url = https://github.com/tomvand/openevo-ros.git
[submodule "src/cspace"]
	path = src/cspace
	url = https://github.com/tomvand/ros-cspace-avoidance.git
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
