<launch>
  <!-- SVO -->
  <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen">
    <!-- Camera and IMU topics to subscribe to -->
    <param name="cam0_topic" value="/left_grayscale/image" type="str" />
    <param name="cam1_topic" value="/right_grayscale/image" type="str" />
    <param name="imu_topic" value="/imu" type="str" />
    <param name="calib_file" value="$(find percevite)/config/svo2/calib/slamdunk.yaml" type="str" />

    <rosparam file="$(find percevite)/config/svo2/param/slamdunk.yaml" />

  </node>
</launch>
